$color: rgb(60, 0, 255);

a {
    font-size: 14px;
    color: $color;
    padding: 10px;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;

    div {
        text-align: right;
        padding: 20px;
    }
}

button {
    margin: 10px;
    rounded: 5px;
    background-color: $color;
}