$color: rgb(60, 0, 255);

a {
    font-size: 14px;
    color: $color;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;

    div {
        margin: 100px;
        text-align: right;
    }
}