$color: rgb(48, 177, 106);

a {
    font-size: 14px;
    padding: 10px;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;

    div {
        text-align: right;
        padding: 20px;
    }
}

input {
    width: 300px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid grey;
    padding: 5px;
    font-size: 16px;
}

button {
    margin: 10px;
    border-radius: 8px;
    background-color: rgb(45, 128, 0);
    font-size: 16px;
    color: white;
    height: 40px;
    width: 100px;
}

#advanced {
  background-color: rgb(0, 85, 170); 
  width: 200px;
}

button:hover {
                background-color: rgb(192, 196, 186);
            }
            
advanced_form {
    align-items: left;
}